
body {
    background-color: lightgray;
}

.faq-section{
    margin: 40px 0;
}

.faq-section input,
.faq-section p{
    display: none;
}

.faq-section label+p{
    display: block;
    color: #999;
    font-size: .85em;
    transition: all .15s ease-out;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.faq-section input[type=checkbox]:checked~p{
    display: block;
    color: #444;
    font-size: 1em;
    text-overflow: clip;
    white-space: normal;
    overflow: visible;
}

h5 {
    font-family: "Century Gothic";
    color: dimgray;
    font-size: 20px;

}

p {
    font-family: "Century Gothic";
    color: dimgray;
    font-size: 12px;
}

.faq-section label{
    font-size: 1.2em;
    cursor: pointer;
    background: #eee;
    display: block;
    position: relative;
    padding: 7px 10px;
    font-weight: bold;
    border: 1px solid dimgray;
    border-left: 3px solid dimgray;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    transition: all .15s ease-out;
}

.faq-section label::selection{
    background: none;
}

.faq-section label:hover{
    background: #f5f5f5;
}

.faq-section input[type=checkbox]:checked~label{
    border-color: dimgray;
    background: lightgray;
    box-shadow: 0 0 1px rgba(0,0,0,.4);
}

.faq-section label::before{
    content: '';
    position: absolute;
    right: 4px;
    top: 50%;
    margin-top: -6px;
    border: 6px solid transparent;
    border-left-color: inherit;
}

.faq-section input[type=checkbox]:checked~label::before{
    border: 6px solid transparent;
    border-top-color: inherit;
    margin-top: -3px;
    right: 10px;
}